<article class="skill-picture">
	<section class="skill-picture__title">
		<span class="skill-picture__title-span">
			<span class="material-symbols-rounded skill-picture__title-icon">
				badge
			</span>
			Full Stack Developer
		</span>
	</section>
	<responsive-image
		[imageName]="'fullstack-min'"
		class="skill-picture__photo"
		[imageAlt]="'Skill picture stock image'"
		[imageHeight]="432" [imageWidth]="768"
	></responsive-image>
	<section class="skill-picture__since">
		<span>Since <h1 class="skill-picture__since-date">2017</h1></span>
	</section>
</article>
