<article class="skill-info">
	<header class="skill-info__header">
		<span class="skill-info__header-block">
			<h1 class="skill-info__header-text">
				<span class="material-symbols-rounded skill-info__header-text-icon">
					public
				</span>
			</h1>
			<h1 class="skill-info__header-text">I am</h1>
			<h1 class="skill-info__header-text skill-info__header-text--highlighted">{{ webAttribute }}<div class="skill-info__cursor">|</div></h1>
		</span>
	</header>
	<section class="skill-info__text">
		<p>My passion for making programs was ignited in 2017 when I embarked on my journey as a full stack developer. Embracing open source development, I have committed myself to creating apps that enable individuals to code without the need for powerful computers. This mission resonates with me deeply as it represents a pathway to democratize programming knowledge, breaking down barriers for those without access to high-end hardware.</p>
		<p>What fuels my love for programming is a relentless curiosity, a thirst to understand the inner workings of technology, and a drive to optimize, troubleshoot, and enhance software. I find joy in unraveling the mysteries of code and am committed to making programming more accessible and transparent for all, while continuously learning and creating along the way.</p>
	</section>
	<!-- <section class="skill-info__buttons">
		<a href="https://behance.net/Dartegnian" class="skill-info__button">
			<span class="material-symbols-rounded skill-info__button-icon">
				palette
			</span>
			View my designs
		</a>
		<a href="https://blog.dartegnian.com" class="skill-info__button">
			<span class="material-symbols-rounded skill-info__button-icon">
				import_contacts
			</span>
			Read my blog
		</a>
	</section> -->
</article>
